## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x=2
print(x)

2

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
a=8.5
print(type(a))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(x))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [5]:
name="gonzalo"
print(type(name))

<class 'str'>

5) Crear una variable que contenga un número complejo

In [6]:
com=2j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
type(com)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [17]:
pi=3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [20]:
v1="true"
v2=True

<class 'str'>
<class 'bool'>

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [21]:
print (type(v1))
print (type(v2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [8]:
var1=8
var2=2.5
resultado=var1+var2
print(resultado)

10.5

11) Realizar una operación de suma de números complejos

In [12]:
com2=3j
resultado2=com+com2
print(resultado2)

5j

12) Realizar una operación de suma de un número real y otro complejo

In [13]:
resultado3=x+com2
print(resultado3)

(2+3j)

13) Realizar una operación de multiplicación

In [15]:
c=2*10
print(c)

20

14) Mostrar el resultado de elevar 2 a la octava potencia

In [16]:
d=2**8
print(d)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [22]:
num=27
num2=4
resultado4=(num/num2)
print(resultado4)

6.75

16) De la división anterior solamente mostrar la parte entera

In [23]:
resultado4=(num//num2)
print(resultado4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [24]:
resultado4=(num%num2)
print(resultado4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [25]:
6*4+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [29]:
"hola " + "mundo"

'hola mundo'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [31]:
2 == "2"
print(type(2))
print(type("2"))

<class 'int'>
<class 'str'>

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [36]:
2== int("2")
print(type(2))
print(type("2"))

<class 'int'>
<class 'str'>

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [39]:
a=float(3.8)

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [42]:
var=3
var-=1
print(var)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [43]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [7]:
"2" + "2" = 22 Por ser un tipo de dato str. Concatena el valor

2 + "2" = Operacion no permitida. Difieren los tipos de datos int != str

2 + int("2") = 4 utilizamos la funcion de cambio de dato

SyntaxError: invalid syntax (2924664146.py, line 1)

26) Realizar una operación válida entre valores de tipo entero y string

In [9]:
x=23
z="Gonzalo"
print(z,"tiene",x,"años")

Gonzalo tiene 23 años